<div class="background big-top-mar">
    <div class="henry-text"> 
        <h1>My Name Is Henry</h1>
        <h1>And I'm Being Bullied</h1>
    </div>

    <img src="..\Assets\anguish.png" class="center top-mar">

    <div class="attack">
        <div class="row top-mar ">
            <div class="col-sm"></div>
            <div class="attack-message col-sm">
                <span class="message">Do you see yourself as sweaty and gross</span>
                <span class="vote"></span>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row top-mar ">
            <div class="col-sm"></div>
            <div class="attack-message col-sm">
                <span class="message">Do you see yourself as sweaty and gross</span>
                <span class="vote"></span>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</div>